*{

padding: 0;
margin: 0;
list-style-type: none;
text-decoration: none;




}

@font-face {
    font-family: "Caprasimo" ;
    src: url(../Resources/Fonts/Caprasimo-Regular.ttf);
}

@font-face {
    font-family: "Bebas" ;
    src: url(../Resources/Fonts/Bebas_Neue/);
}

.headerpresentacion{

padding-top: 10px;
padding-bottom: 5px;


}

.Logopresentacion{

padding-top: 5px;
padding-bottom: 5px;

}

.titulospresentacion{

background-color: #753BBD;
color: white;
text-transform: uppercase;
padding-top: 10px;
padding-bottom: 1px;
text-align: center;
font-family: "Caprasimo";

}


.barrapresentacion{

background-color: #61CDE9;
padding: 5px 5px 5px 5px;
color: #003594;
text-transform: uppercase;
text-align: center;
font-family: "Caprasimo";

}

.botonespresentacion{

height: 100px;
display: flex;
flex-direction: row;
align-content: flex-end;
align-items: center;


}



.botonespresentacion__inicio{

text-shadow: 1px 1px 1px rgb(255, 255, 255);

}

.botonespresentacion__fotografia{


text-shadow: 1px 1px 1px rgb(255, 255, 255);

}

.botonespresentacion__video{

text-shadow: 1px 1px 1px rgb(255, 255, 255);

    
}

.botonespresentacion__contacto{


text-shadow: 1px 1px 1px rgb(255, 255, 255);

}

a:hover{

    background-color: #753BBD;
    color: #61CDE9;
    font-weight: bold;
    padding: 15px;
    
}

.quiensoy{
background-color: #003594;
color: white;
text-align: center;
text-transform: uppercase;
border: #753BBD solid;

}

.articuloquiensoy{


color:#000000;
text-align: center;
padding-top: 10px;
font-family: "Caprasimo";
font-size: small;



}

.boxperfil{

background-color: #003594;

}

.imagenperfil{

width: 250px;
height: 210px;
padding: 10px 70px 10px 70px;
align-items: center;


}

card{

background-color: #61CDE9;

}

.card {

background-color: #753BBD;
font-family: "Bebas";
text-align: center;

}

.card-header{

text-transform: uppercase;
color: white;
padding: 5px 5px 5px 5px;

}

.card-title{

background-color: #ffffff;
padding-bottom: 5px;
padding-top: 5px;
font-size: medium;



}

.card-text{

padding-top: 5px;
height: 50px;
font-size: larger;
color: white;


}

.linkedin{

    text-transform: uppercase;
    color: #61CDE9;
    font-size: large;



}

/* Responsive presentación */

@media(min-width:500px){

.imagenperfil{

padding: 10px 70px 10px 141px;
}



.botonespresentacion{

display: flex;
justify-content: space-around;

}

.articuloquiensoy{

padding-top: 10px;
padding-bottom: 10px;

}
}












