@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

h1 {
  background-color: #003594;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 18px 10px 10px 18px;
  height: 70px; }

.container-fluid {
  background-color: #003594;
  padding: 3px 3px 3px 3px;
  margin-top: -10px; }

.navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-toggler {
  background-color: white;
  border-radius: 15px; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-link {
  color: #f6f6f6;
  text-transform: lowercase; }

.nav-item {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav-item:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav-item:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav_contacto {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_contacto:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_contacto:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.quiensoy {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  height: 10px; }

.conocimientos {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  height: 10px; }

.experiencia {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  height: 10px; }

.accordion-body {
  background-color: #61CDE9; }

.fondoimagenperfil {
  background-color: #DBAD60;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 5px; }

* {
  margin: 0;
  padding: 0; }

h1 {
  background-color: #003594;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 18px 10px 10px 18px;
  height: 20px; }

.navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-toggler {
  background-color: white;
  border-radius: 15px; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-link {
  color: white;
  text-transform: lowercase; }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white; }

.nav-item {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav-item:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav-item:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav_contacto {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_contacto:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_contacto:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.comunidad {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 5px; }

.salud {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px; }

.carousel-control-prev-icon {
  background-color: #753BBD; }

.carousel-control-next-icon {
  background-color: #DBAD60; }

.carousel-control-prev-icon:hover {
  padding: 20px; }

.carousel-control-next-icon:hover {
  padding: 20px; }

* {
  margin: 0;
  padding: 0; }

h1 {
  background-color: #003594;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 18px 10px 10px 18px;
  height: 70px; }

.navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-toggler {
  background-color: white;
  border-radius: 15px; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-link {
  color: #f6f6f6;
  text-transform: lowercase; }

.nav-item {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav-item:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav-item:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav_contacto {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_contacto:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_contacto:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-toggler {
  background-color: white;
  border-radius: 15px; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-link {
  color: #f6f6f6;
  text-transform: lowercase; }

.nav-item {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav-item:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav-item:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav_contacto {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_contacto:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_contacto:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.institucionales {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 5px; }

.animaciones {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 5px; }

.fondoinstitucional {
  background-color: #DBAD60;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.fondoanimaciones {
  background-color: #DBAD60;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.botonyoutube {
  background-color: #c2270a;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border-radius: 20px; }

* {
  margin: 0;
  padding: 0; }

h1 {
  background-color: #003594;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 18px 10px 10px 18px;
  height: 70px; }

.container-fluid {
  background-color: #003594;
  padding: 3px 3px 3px 3px;
  margin-top: -10px; }

.navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-toggler {
  background-color: white;
  border-radius: 15px; }

.navbar-toggler:hover {
  background-color: #DBAD60;
  padding: 10px; }

.navbar-toggler:active {
  background-color: #61CDE9; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-link {
  color: #f6f6f6;
  text-transform: lowercase; }

.nav_presentacion {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_presentacion:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav_presentacion:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_fotografía {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_fotografía:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav_fotografía:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_video {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  margin-bottom: 5px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav_video:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav_video:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.nav-contacto {
  background-color: #753BBD;
  border-radius: 40px;
  padding: 7px;
  box-shadow: 2px 0px 4px #ffffff; }

.nav-contacto:hover {
  background-color: #61CDE9;
  font-weight: bold;
  padding: 20px; }

.nav-contacto:active {
  background-color: #DBAD60;
  font-weight: bold;
  padding: 20px; }

.accordion-button {
  background-color: #003594;
  display: flex;
  flex-direction: column;
  align-items: center; }

.accordion-button:hover {
  background-color: #DBAD60; }

.quees {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  height: 10px; }

.quefuncion {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  height: 10px; }

.esimportante {
  color: white;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  height: 10px; }

#collapseOne {
  background-color: #61CDE9;
  text-align: center; }

#collapseTwo {
  background-color: #61CDE9;
  text-align: center; }

#collapseThree {
  background-color: #61CDE9;
  text-align: center; }

.card-header {
  padding: 0px; }

.card-body {
  background-color: #753BBD; }

.card-title {
  color: white; }

.card-text {
  color: white; }

.btn {
  background-color: #0A66C2; }
